main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100dvh);
}

.content {
  margin-block: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.btn {
  text-wrap: nowrap;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background: lightgray;
  gap: 0.5rem;
  padding-block: 1rem;
}

.nav > :last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background: lightgrey;
  width: 100%;
  text-align: center;
  padding-block: 0.5rem;
  color: grey;
}

footer h6 {
  margin: 0;
}

.login-header {
  padding: 1rem 1.5rem;
  background: linear-gradient(135deg, #3a7bd5, #3a6073);
  color: white;
  border-radius: 1rem 1rem 0 0;
}

.login {
  border-radius: 1rem;
  background: rgb(235, 235, 235);
  min-width: 30rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.login-body {
  margin: 1rem 2rem;
}

.error {
  color: red;
}

hr {
  margin-top: 0;
  border: 2px solid black;
  border-radius: 1rem;
}

.login section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.login .alert {
  margin-bottom: 0;
  padding-block: 0.5rem;
}

.login section :last-child {
  flex-shrink: 1;
  margin-left: auto;
}

.search input {
  border: 2px solid lightgray;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.search > :last-child {
  color: grey;
  position: absolute;
  right: 9px;
  margin-right: 0.25rem;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.search:has(input:placeholder-shown) svg {
  opacity: 1;
  visibility: visible;
}

.search-section {
  width: 100%;
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.search-section > :first-child {
  flex-grow: 0;
  width: min(50%, 40rem);
  margin-left: 12%;
}

.content-display {
  background: lightgrey;
  width: 90%;
  margin-inline: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  height: 80%;
  overflow-y: auto;
}

.content-display .no-result {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-display .no-result h1 {
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  color: grey;
}

.content-display::-webkit-scrollbar {
  width: 1rem;
}

.content-display::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

.content-display::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.content-display thead tr {
  position: sticky;
  top: -16px;
}

.content-display thead th {
  background: rgb(82, 82, 82);
  color: white;
}

/* .content-display thead th:first-child {
 border-radius: 1rem 0 0 0;
}

.content-display thead th:last-child {
 border-radius: 0 1rem 0 0;
} */

/* .content-display tbody tr:nth-last-of-type(2n + 1) td {
  background: rgb(228, 228, 228);
} */

.content-display td, .content-display th {
  padding-inline: 2rem;
  padding-top: 1rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.actions > * {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.6rem;
}

.notfound {
  text-align: center;
  margin-bottom: 10rem;
  background: rgb(53, 53, 53);
  color: white;
  padding: 0 2rem 2rem 2rem;
  border-radius: 1rem;
}

.notfound header {
  font-size: 150px;
}

.notfound h1 {
  width: 25rem;
}