main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2rem);
}

.nav {
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgb(221, 221, 221);
}

.home {
  margin-block: auto;
  margin-top: 0;
}

.group {
  margin-inline: 1rem;
}

.link {
  margin: 1rem 0.5rem;
}

.login {
  padding: 1rem;
  border: 2px solid rgb(197, 197, 197);
  border-radius: 1rem;
  background: rgb(235, 235, 235);
  min-width: 30rem;
}

.error {
  color: red;
}

hr {
  margin-top: 0;
  border: 2px solid black;
  border-radius: 1rem;
}

.right {
  float: right;
}