main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2rem);
}

.content {
  margin-block: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  /* margin-bottom: auto; */
  display: flex;
  justify-content: center;
  width: 100%;
  background: lightgray;
  gap: 0.5rem;
  padding-block: 1rem;
}

footer {
  /* margin-top: auto; */
}

.group {
  margin-inline: 1rem;
}

.form {
  padding: 1rem;
  border: 2px solid rgb(176, 176, 176);
  border-radius: 1rem;
  background: rgb(235, 235, 235);
  min-width: 30rem;
}

.error {
  color: red;
}

hr {
  margin-top: 0;
  border: 2px solid black;
  border-radius: 1rem;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.action .alert {
  width: fit-content;
  margin-bottom: 0;
  padding-block: 0.5rem;
}

.action :last-child {
  flex-shrink: 1;
  margin-left: auto;
}

.search input {
  border: 2px solid lightgray;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.search svg {
  color: grey;
  position: absolute;
  right: 0;
  margin-right: 0.25rem;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.search:has(input:placeholder-shown) svg {
  opacity: 1;
  visibility: visible;
}

.search-section {
  width: 100%;
  margin-block: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.search-section > :first-child {
  flex-grow: 0;
  width: min(50%, 40rem);
  margin-left: 12%;
}

.content-display {
  background: lightgrey;
  width: 90%;
  margin-inline: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}